body {
	background-image: url('backgroundimg.png');
	background-repeat: no-repeat;
    background-size: auto;
	
}

button {
	background-color:transparent;
    position: relative;
	cursor: pointer;
    transition-duration: .3s;
    overflow: visible;
    box-sizing: border-box;
    border: solid 4px #ffffff;
    padding: 10px 22px;
	font: 30px FreeMono, monospace;
	color: #ffffff;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.container { 
	padding: 15px;
	height: 1000px;
	position: relative;
	}

.center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}